# Default ignored files
# Gradle
/gradle/wrapper/gradle-wrapper.jar
/build/
/.gradle/
**/build/classes/**

# IDEs
/.idea/
*.iml
/project
/.classpath
/.settings/
bin/

# Selenium/WebDriver
screenshots/
downloads/

# Allure
/allure-results/
/allure-report/

# OS specific files
.DS_Store
Thumbs.db
Desktop.ini

# Temporary files
*.tmp
*.temp
*.swp
*.bak
